.header {
  height: 550px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #c98600;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  
}

.avatar-header {
  margin-top: 150px;
}