.tweets {
  box-sizing: border-box;
  border-style: solid;
  border-width: 5px;
  margin-top: 40px;
  padding: 15px;
  width: 100%;
  word-wrap: break-word;
}

.tweets-header {
  width: 100%;
  margin-top: 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.avatar-wrapper {
  display: flex;
  align-items: center;
}

.user-avatar {
  height: 75px;
  margin-right: 20px;
}

.user-handle {
  margin-right: 20px;
  color: rgb(199, 197, 197);
  display: flex;
  justify-content: right;
}

.tweets-footer {
  border-top: solid;
  border-top-width: 5px;
  height: 5ex;
  font-size: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tweets:hover {
  box-shadow: 12px 12px 2px 1px lightgray;
  color: black;
}

.date {
  margin-left: 10px;
}

.icons {
  display: flex;
  align-items: center;
  margin-right: 15px;
  color: #4056A1;
}

.fa-flag:hover {
  color:goldenrod;
}

.fa-retweet:hover {
  color:goldenrod;
}

.fa-heart:hover {
  color:goldenrod;
}

.fa {
  margin-right: 10px;
}